<!doctype html>
<html ng-app = 'myApp' >
  <head>
    <script type="text/javascript" src="angular.min.js" >
    </script>
    <script type="text/javascript" src="app.js">

    </script>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller= "ToBuyController as itemadd">
     <h2>To Buy:</h2>



     <ul>
       <li  ng-show="itemadd.IsVisible1">Buy 10 cookies <button ng-click="itemadd.addItem(itemadd.name1,itemadd.quantity1);" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Bought</button></li>
       <li ng-show="itemadd.IsVisible2">Buy 10 chips <button ng-click="itemadd.addItem(itemadd.name2,itemadd.quantity2);" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Bought</button></li>
       <li ng-show="itemadd.IsVisible3">Buy 10 icecream <button ng-click="itemadd.addItem(itemadd.name3,itemadd.quantity3);" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Bought</button></li>
       <li ng-show="itemadd.IsVisible4">Buy 10 choco <button ng-click="itemadd.addItem(itemadd.name4,itemadd.quantity4);" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Bought</button></li>
       <li ng-show="itemadd.IsVisible5">Buy 10 maggi <button ng-click="itemadd.addItem(itemadd.name5,itemadd.quantity5);" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Bought</button></li>
     </ul>
     <div ng-show="itemadd.IsVisible6" class="emptyMessage">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller = "AlreadyBoughtController as showList">
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat = "item in showList.items"> Bought
            {{item.quantity}} of {{item.name}}

       </li>

     </ul>
      <div ng-if="showList.items.length == 0"  class="emptyMessage">Nothing bought yet</div>
    </div>
  </div>
</div>

</body>
</html>
